
@{
    ViewBag.Title = "Purchase";
}
<div id="hello">
    <h1>Dear User,</h1>
    <h2>Thank You, Your Payment was made sucessful.</h2>
    <h3>You are now eligible for special discounts and deals</h3>
    </div>

