@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="text-error">Error Ocurred..!!</h1>
    <h2 class="text-error">Something went wrong! Please Try Again :-) </h2>
</hgroup>
