@{
    ViewBag.Title = "Home Page";
}

<head>


    <h1>Zoom Bass</h1>

    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <script type="text/javascript" src="engine1/jquery.js"></script>
    <!-- End WOWSlider.com HEAD section -->
</head>

 @Html.Raw((String)ViewBag.mesage1)
@Html.Raw((String)ViewBag.mesage3)
@*@Html.Raw((String)ViewBag.mesage4)
@Html.Raw((String)ViewBag.mesage5)*@


<body><!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="data1/images/pod.jpg" alt="Pod" title="Pod" id="wows1_0"/></li>
		<li><img src="data1/images/sheetsstand.jpg" alt="SheetsStand" title="SheetsStand" id="wows1_1"/></li>
		<li><img src="data1/images/soundboard.jpg" alt="soundboard" title="soundboard" id="wows1_2"/></li>
		<li><img src="data1/images/sustainpedal.jpg" alt="SustainPedal" title="SustainPedal" id="wows1_3"/></li>
		<li><img src="data1/images/amplifier.jpg" alt="Amplifier" title="Amplifier" id="wows1_4"/></li>
		<li><img src="data1/images/blueray.jpg" alt="blueray" title="blueray" id="wows1_5"/></li>
		<li><img src="data1/images/cd.jpg" alt="CD" title="CD" id="wows1_6"/></li>
		<li><img src="data1/images/drum.jpg" alt="drum" title="drum" id="wows1_7"/></li>
		<li><img src="data1/images/djcontrollers.jpg" alt="djcontrollers" title="djcontrollers" id="wows1_8"/></li>
		<li><img src="data1/images/earphone.jpg" alt="earphone" title="earphone" id="wows1_9"/></li>
		<li><img src="data1/images/guitarsoundboard.jpg" alt="guitarsoundboard" title="guitarsoundboard" id="wows1_10"/></li>
		<li><img src="data1/images/mic.jpg" alt="mic" title="mic" id="wows1_11"/></li>
		<li><img src="data1/images/photo_18896_20101011.jpg" alt="photo_18896_20101011" title="photo_18896_20101011" id="wows1_12"/></li>
		<li><img src="data1/images/flute.jpg" alt="flute" title="flute" id="wows1_13"/></li>
		<li><img src="data1/images/guitar.jpg" alt="guitar" title="guitar" id="wows1_14"/></li>
		<li><img src="data1/images/piano.jpg" alt="piano" title="piano" id="wows1_15"/></li>
		<li><img src="data1/images/pump_organ_harnonium.jpg" alt="pump organ harnonium" title="pump organ harnonium" id="wows1_16"/></li>
		<li><img src="data1/images/pump_sitar.jpg" alt="pump sitar" title="pump sitar" id="wows1_17"/></li>
		<li><img src="data1/images/saxophone.jpg" alt="saxophone" title="saxophone" id="wows1_18"/></li>
		<li><img src="data1/images/sitar.jpg" alt="sitar" title="sitar" id="wows1_19"/></li>
		<li><img src="data1/images/violin.jpg" alt="violin" title="violin" id="wows1_20"/></li>
		<li><img src="data1/images/bongo_drums.jpg" alt="Bongo Drums" title="Bongo Drums" id="wows1_21"/></li>
		<li><a href="http://wowslider.net"><img src="data1/images/woodendulcimer.jpg" alt="carousel jquery" title="wooden-dulcimer" id="wows1_22"/></a></li>
		<li><img src="data1/images/bass2023972_1280.png" alt="bass-2023972_1280" title="bass-2023972_1280" id="wows1_23"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Pod"><span><img src="data1/tooltips/pod.jpg" alt="Pod"/>1</span></a>
		<a href="#" title="SheetsStand"><span><img src="data1/tooltips/sheetsstand.jpg" alt="SheetsStand"/>2</span></a>
		<a href="#" title="soundboard"><span><img src="data1/tooltips/soundboard.jpg" alt="soundboard"/>3</span></a>
		<a href="#" title="SustainPedal"><span><img src="data1/tooltips/sustainpedal.jpg" alt="SustainPedal"/>4</span></a>
		<a href="#" title="Amplifier"><span><img src="data1/tooltips/amplifier.jpg" alt="Amplifier"/>5</span></a>
		<a href="#" title="blueray"><span><img src="data1/tooltips/blueray.jpg" alt="blueray"/>6</span></a>
		<a href="#" title="CD"><span><img src="data1/tooltips/cd.jpg" alt="CD"/>7</span></a>
		<a href="#" title="drum"><span><img src="data1/tooltips/drum.jpg" alt="drum"/>8</span></a>
		<a href="#" title="djcontrollers"><span><img src="data1/tooltips/djcontrollers.jpg" alt="djcontrollers"/>9</span></a>
		<a href="#" title="earphone"><span><img src="data1/tooltips/earphone.jpg" alt="earphone"/>10</span></a>
		<a href="#" title="guitarsoundboard"><span><img src="data1/tooltips/guitarsoundboard.jpg" alt="guitarsoundboard"/>11</span></a>
		<a href="#" title="mic"><span><img src="data1/tooltips/mic.jpg" alt="mic"/>12</span></a>
		<a href="#" title="photo_18896_20101011"><span><img src="data1/tooltips/photo_18896_20101011.jpg" alt="photo_18896_20101011"/>13</span></a>
		<a href="#" title="flute"><span><img src="data1/tooltips/flute.jpg" alt="flute"/>14</span></a>
		<a href="#" title="guitar"><span><img src="data1/tooltips/guitar.jpg" alt="guitar"/>15</span></a>
		<a href="#" title="piano"><span><img src="data1/tooltips/piano.jpg" alt="piano"/>16</span></a>
		<a href="#" title="pump organ harnonium"><span><img src="data1/tooltips/pump_organ_harnonium.jpg" alt="pump organ harnonium"/>17</span></a>
		<a href="#" title="pump sitar"><span><img src="data1/tooltips/pump_sitar.jpg" alt="pump sitar"/>18</span></a>
		<a href="#" title="saxophone"><span><img src="data1/tooltips/saxophone.jpg" alt="saxophone"/>19</span></a>
		<a href="#" title="sitar"><span><img src="data1/tooltips/sitar.jpg" alt="sitar"/>20</span></a>
		<a href="#" title="violin"><span><img src="data1/tooltips/violin.jpg" alt="violin"/>21</span></a>
		<a href="#" title="Bongo Drums"><span><img src="data1/tooltips/bongo_drums.jpg" alt="Bongo Drums"/>22</span></a>
		<a href="#" title="wooden-dulcimer"><span><img src="data1/tooltips/woodendulcimer.jpg" alt="wooden-dulcimer"/>23</span></a>
		<a href="#" title="bass-2023972_1280"><span><img src="data1/tooltips/bass2023972_1280.png" alt="bass-2023972_1280"/>24</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery image carousel</a> by WOWSlider.com v8.8</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script><br><br><br><br><br>
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eTWTTZIggig" frameborder="0" allowfullscreen></iframe>
</body>
